extends layout
block content
  include navbar
  .layui-container.main
    .layui-row
      .layui-col-md12
        h1.title 下载记录
        table.layui-table
          thead
            tr
              th(width="100px") 链接
              th 下载IP
              th 下载时间
          tbody
            each file in files
              tr
                td #{file.url}
                td #{file.ip}
                td #{file.createAt}
        nav.pages
          if( pages> 1)
            ul.pagination
              != createPagination(pages, page)