doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1')
    block header
      title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700|', rel='stylesheet', type='text/css')
    link(href='/fonts/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/stylenew.css')
    //if lt IE 9
      script(src='/javascripts/ie-support/html5.js')
      script(src='/javascripts/ie-support/respond.js')
  body
    #site-content
      header.site-header
        .container
          a#branding(href='/')
            img.logo(src='/images/logo.png', alt='')
            .logo-copy
              h2.site-title 错误信息
              small.site-decription 喜欢二次元的小圈子
          .main-navigation
            button.menu-toggle(type='button')
              i.fa.fa-bars
            ul.menu
              li.menu-item
                a(href="/") 首页
              li.menu-item
                a(href="/tvs") 番剧
              li.menu-item
                a(href="/movies") 影视
              li.menu-item
                a(href="/tags") 分类
              li.menu-item
                a(href="/articles") 新闻
            form.search-form(action='/search')
              input.searchq(type='text', placeholder='搜索')
              button.searchbtn
                i.fa.fa-search
          .mobile-navigation
      .main-content
        .container.mt-20
          .row
            .flex
              h1= message
              h2= error.status
              a.btn.btn-default(href="/") 返回首页
              pre #{error.stack}
      block footer
        footer.site-footer
          .container
            .colophon Copyright 2019 蕾姆拉姆网, Power by express-ffmpeg-vip. All rights reserved
    block script
      script(src='/javascripts/jquery-1.11.1.min.js')
      script(src='/javascripts/plugins.js')
      script(src='/javascripts/app.js')
