doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    block header
      title= title
    block css
      link(rel="stylesheet", href="/layui/css/layui.css")
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block footer
      script(src="/javascripts/jquery.min.js")
      script(src="/layui/layui.js")
      script(src="/javascripts/dropzone.js")
      script(src="/javascripts/my.js")